# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Java навчання (Intellij IDEA) (Java Pro)\HomeWork4_JPA_Hibernate_Menu\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
